<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
  <div class="container">

    <!-- Logo -->
    <a class="navbar-brand me-4" routerLink="home">
      <img src="../../../../assets/imgs/logos/logo_cred_impacto.png" alt="Logo">
    </a>

    <!-- Botão Mobile -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent">

      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menu -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav mx-auto">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
            Processo de Crédito
          </a>

          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="credimpacto/fluxo">Fluxo de acesso e capacitação</a></li>
            <li><a class="dropdown-item" routerLink="credimpacto/monitoramento">Monitoramento</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
            Funil de diagnóstico
          </a>

          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="credimpacto/negocios">Negócios de impacto</a></li>
            <li><a class="dropdown-item" routerLink="questionario/diagnostico">Realizar teste</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
            Cadastro
          </a>

          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="credimpacto/cadastro">Criar cadastro</a></li>
            <li><a class="dropdown-item" routerLink="credimpacto/login">Acessar cadastro</a></li>
          </ul>
        </li>

        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
            Suporte
          </a>

          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="credimpacto/faq">FAQ</a></li>
            <li><a class="dropdown-item" routerLink="credimpacto/faleconosco">Fale conosco</a></li>
          </ul>
        </li> -->

        <li class="nav-item">
          <a class="nav-link" routerLink="credimpacto/faq">FAQ</a>
        </li>

      </ul>

      <a class="btn btn-outline-success" routerLink="home">
        OUTROS PROGRAMAS
      </a>

    </div>

  </div>
</nav>
