<footer class="footer">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="footer-logos">
          <div class="logo-item">
            <img class="logo-cred" src="assets/imgs/logos/logo_cred_impacto.png" alt="Cred Impacto">
          </div>
          <div class="logo-item">
            <img class="logo-adece" src="assets/imgs/logos/logo_adece.png" alt="ADECE">
          </div>
          <div class="logo-item">
            <img class="logo-sde" src="assets/imgs/logos/Logo-SDE---Horizontal.png" alt="Governo do Ceará">
          </div>
        </div>
      </div>
    </div>

    <hr class="footer-divider">

    <div class="row">
      <div class="col-12 text-center">
        <p class="copyright">
          © {{ currentYear }} Cred Impacto • Agência de Desenvolvimento do Estado do Ceará - ADECE
        </p>
      </div>
    </div>
  </div>
</footer>
