<section>
  <div class="container-fluid p-0">
    <div class="row g-0 min-vh-100">

      <!-- LADO ESQUERDO -->

      <div class="col-lg-6 hero">
        <div class="glass-card">
          <h1>
            Ceará
            <span>conecta</span>
            territórios
          </h1>
          <p>
            Conectando oportunidades.<br>
            Transformando negócios.<br>
            Fortalecendo lares.<br>
            Desenvolvendo territórios.
          </p>
          <div class="logos">
            <img src="../../../../assets/imgs/logos/logo-adece-negativo-branco.png">
            <img src="../../../../assets/imgs/logos/Logo-SDE---Horizontal---Branco.png">
          </div>
        </div>
      </div>

      <!-- LADO DIREITO -->

      <div class="col-lg-6 programas">
        <div class="conteudo">
          <h2>
            Acesse os programas
          </h2>
          <div class="row g-4">
            <div class="col-md-6">
              <a routerLink="/credimpacto/what-is" class="programa ativo">
                <img src="../../../../assets/imgs/logos/logo_cred_impacto.png">
              </a>
            </div>
            <div class="col-md-6">
              <a href="#" class="programa">
                <h4>Ceará Raízes do Futuro</h4>
                <small>Em construção</small>
              </a>
            </div>
            <div class="col-md-6">
              <a href="#" class="programa">
                <h4>Eixo Habitacional</h4>
                <small>Em construção</small>
              </a>
            </div>
            <div class="col-md-6">
              <a href="#" class="programa">
                <h4>Eixo Turismo de Experiência</h4>
                <small>Em construção</small>
              </a>
            </div>
          </div>

          <p class="descricao">
            A plataforma da Adece que integra crédito,
            inovação, empreendedorismo e desenvolvimento
            econômico para impulsionar o potencial
            de cada região.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
